.layout {
  width: 580px;
  height: 150px;

  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  position: absolute;
  top: 130px;
  right: 10px;
}
.middleDiv{
  position: absolute;
  top: 410px;
  right: 30px;
}
.line{
  position: relative;
  top: -10px;
  border-radius: 500px;
  border-top: 3px solid  #E92035; /* Customize the style of the line */
  margin: 10px 0; /* Add some spacing around the line */
}
.line2{
  /* position: absolute;
  top: 450px;
  right: 30px; */
  position: relative;
  top: 20px;
  border-radius: 500px;
  border-top: 3px solid  #E92035; /* Customize the style of the line */
  margin: 10px 0; /* Add some spacing around the line */
}
.div4{
  position: absolute;
  top: 630px;
 
}
.div4ElementWidth{
  width: 260px;
}


.progress-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.progress-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}

.progress-fill {
  height: 100%;
  background-color: #E92035;
  border-radius: 10px;
  width: 0;
  transition: width 0.5s ease-in-out;
}
.percentage {
  font-weight: bold;
  font-size: 18px;
  color: #ffffff; /* Change this to your desired color */
}
